# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\win\Desktop\Universitat 20-21\MetodologiaSoftware\Pràctica Patrons\PizziSalle\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
